.table td,
.table th {
    color: black;
    }
    
.sidebar-heading {
    display: flex;
    align-items: center;
}
    
.sidebar-button {
    margin-left: 10px; 
    padding: 8px 12px;
    background-color: #3498db; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
    