*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item {
    margin-top: 3 !important;
}

.logo-left {
    margin-right: 50px; /* Menggeser logo ke kiri sejauh 20 piksel */
}

.icon-nav {
    position: relative;
    color: #FFFFFF8C;
}

.icon-nav:hover{
    color: white;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(240, 32, 32, 0.86);
    color: white;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 63px;
}

img {
    max-width: 50px;
    max-height: 60px;
}

.card {
    width: 70rem; /* Mengatur lebar kartu sesuai dengan lebar viewport */
    height: calc(100vh - 60px); /* Mengatur tinggi kartu sesuai dengan tinggi viewport dikurangi dengan tinggi navbar (60px) */
}

.card-body {
    height: 100%; /* Mengatur tinggi dari bagian body kartu */
    overflow: auto; /* Menambahkan overflow auto jika konten kartu lebih panjang dari tinggi kartu */
}


@media (max-width: 768px) {
    .left-logo,
    .right-logo {
        width: 60px;
    }

    .login-container,
    .register-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Gaya untuk layar dengan lebar maksimum 576px */
@media (max-width: 576px) {
    .left-logo,
    .right-logo {
        width: 44px;
    }

    .login-container,
    .register-container {
        margin-left: 5px;
    }
}


@media (max-width: 576px) {
    table {
        overflow-x: auto;
        display: block;
    }

    th, td {
        white-space: nowrap;
    }
}

.main-sidebar {
    background-color: #190482;
    color: #ffffff;
}

.brand-link {
    color: white; 
}

.nav-sidebar .nav-link p{
    color: #ffffff  ;
}

.brand-logo {
    width: 10%;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.small-table {
    font-size: 15px;
    width: 50%;
}

.small-table th,
.small-table td {
    padding: 0.5rem;
}

.content-wrapper {
    padding-top: 60px;
}

.card-body {
    width: 75%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
}
